<body class="body-bg">
  <div class="container">
    <div class="searchbar d-flex">
      <%= form_with url: livres_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Trouver un livre / auteur"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-grad" %>
      <% end %>
    </div>
    <div class="card-livre">
      <h2>📘 Livres 📕</h2>
      <div class="ajouter-livre d-flex">
        <button type="button" class="btn btn-secondary" id="btn-ajouter"><%= link_to "+ Ajouter un livre", new_livre_path %></button>
      </div>
      <ul style="list-style-type:none;"> <% @livres.each_with_index do |livre, index| %>
        <li>
          <%= link_to livre_path(livre) do %>
            <div class="card-livre-element">
            <p><%= index + 1 %>. <%= livre.titre %> - <%= livre.auteur %> - <%= livre.note %>/5 </p>
            <button type="button" class="btn btn-outline-secondary btn-reserver"><%= link_to "Réserver", new_livre_reservation_path(livre) %></button>
            </div>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</body>
