<h1> Livres </h1>

<ul> <% @livres.each_with_index do |livre, index| %>
  <li>
    <p><%= index %>. <%= livre.titre %> - <%= livre.auteur %></p>
  </li>
<% end %>

<%= link_to "Show", @livre %>
<%= link_to "Destroy", @livre, data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr(e)?" } %>
</ul>
