<h1> Livres </h1>

<ul> <% @livres.each_with_index do |livre, index| %>
  <li>
    <div> <%= link_to livre_path(:id) %>
    <p><%= index + 1 %>. <%= livre.titre %> - <%= livre.auteur %></p>
    </div>
  </li>
<% end %>
</ul>

<%# trouver la redirection %>
<%= link_to "Ajouter un livre" %>
