<a id="anchor-top"></a>
<body class="body-bg">
  <div class="container">
    <div class="searchbar d-flex">
      <%= form_with url: livres_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Trouver un livre"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-secondary" %>
      <% end %>
    </div>
    <div class="card-livre">
      <h2> Livres </h2>

<!-- Button trigger modal -->
      <div class="ajouter-livre d-flex">
        <button type="button" class="btn btn-secondary m-3" id="btn-ajouter" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Ajouter un livre</button>
      </div>
<!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nouveau livre</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>

      <h5 class="marge-h5"><strong>Titre - Auteur - Note /5</strong></h5>
      <ul style="list-style-type:none;"> <% @livres.each_with_index do |livre, index| %>
        <li>
          <%= link_to livre_path(livre) do %>
            <div class="card-livre-element">
            <p><%= index + 1 %>. <%= livre.titre %> - <%= livre.auteur %> - <%= livre.note %>/5 </p>
            <button type="button" class="btn btn-outline-secondary btn-reserver"><%= link_to "Réserver", new_livre_reservation_path(livre) %></button>
            </div>
          <% end %>
        </li>
      <% end %>
      </ul>
     <button type="button" class="btn btn-outline-secondary btn-retour-haut"><%= link_to "↑ Retour en haut", livres_path(@livre, anchor: "top")%></button>
    </div>
  </div>
</body>
