<h2> Livres </h2>

<ul> <% @livres.each_with_index do |livre, index| %>
  <li>
    <%= link_to livre_path(livre) do %>
      <div>
      <p><%= index + 1 %>. <%= livre.titre %> - <%= livre.auteur %></p>
      </div>
    <% end %>
  </li>
<% end %>
</ul>

<%# trouver la redirection %>
<%= link_to "Ajouter un livre", new_livre_path %>
