<div class="body-background-resa">
  <div class="container">
    <%= link_to "Retour", livres_path %>
    <h2 class="resa">Toutes mes réservations</h2>

      <ul id="ul"><% @reservations.each do |reservation| %>
    <div class="card-resa">
        <li>
          <p><strong><%= reservation.livre.titre %>  :</strong> <%= reservation.debut.strftime('%d-%m-%Y') %> au <%= reservation.fin.strftime('%d-%m-%Y') %></p>
          <%= link_to "Annuler la réservation", reservation_path(reservation), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr(e)?"} %>
        </li>
    </div>
          <% end %>
      </ul>
  </div>
</div>
